:root {
    --color-primario: #0693e3;
    --color-secundario: #e6f2ff;
    --color-terciario: #006293;
    --color-alternativo: #c8e3ff;
}
/*---------------------ESTILO GLOBAL---------------------*/
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*---------------------CABECERA WEB---------------------*/
header {
    background-color: var(--color-terciario);
    padding: 1vh 2vw;
    align-items: center;
   
}

header > a > img {
    filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.5));
    width: 100px;
    float: left;
}

header > nav {
    margin-left: 3vw;
}

header > nav > a {
    display: inline-block;
    margin: 0 1vw;
    color: var(--color-secundario);
    font-size: large;
    text-decoration: none;
    padding: 3vh 0vw;
}

header a:hover {
    transform: scale(1.05);
    transition: 0.06s;
    color: var(--color-alternativo);
}

/*---------------------CONTENIDO MAIN---------------------*/
main{
    padding:30px;
    margin: 0px;
}


div{ /*100% = 1920px*/
    background-color: var(--color-terciario);
    border-radius: 20px;
   /* padding: 30px;*/
   padding: 4vh 3vw;
   margin: auto;
    width: 85vw;
    max-width: 1000px;  
}

#back{ /*BOTÓN RETURN*/
    height: 35px;
    float: left;
    color: var(--color-alternativo);
}

h1{
   
    text-align: center;
    margin-block-end: 0px;
    margin-block-start: 0px;
    color: var(--color-secundario);
    
}

/*---------------------CONTENIDO FORM---------------------*/

input{
    margin-right: 10px;
    height: 20px;
    border: none;
}

label{
    color: var(--color-secundario);
}

select{
    display:block;
    border-radius: 5px;
    padding: 1vh 1vw;
    text-align: center;
    margin: 3vh auto;
    width: 100%;
}

.isbn{ /* COLUMNA ISBN */
    width: 150px;
}

.cantidad{ /* COLUMNA INPUT CANTIDAD PEDIR*/
    width:97%;
    margin-right: 0px;
    
}

input:focus{
    outline: none;
}

#enviar{ /* BOTÓN ENVIAR*/
    background-color: var(--color-secundario);
    height: 35px;
    border: none;
    border-radius: 10px;
    display: block;
    margin: 3vh auto;
    width: 100%;
}

#enviar:hover{
    transform: scale(1.05);
    transition: 0.06s;
}

#reset{ /* BOTÓN RESET*/
    background-color: red;
    width: 75px;
    height: 35px;
    border: none;
    border-radius: 10px;
    color: white;
}
#reset:hover{
    transform: scale(1.05);
    transition: 0.06s;
    color: white;
}

#exportar{ /* BOTÓN EXPORTAR*/
    background-color: lightgreen;
    width: 120px;
    height: 35px;
    border: none;
    border-radius: 10px;
}

#exportar:hover{
    transform: scale(1.05);
    transition: 0.06s;
}

/*---------------------CONTENIDO TABLA---------------------*/
table, tr, th, td{ 
    background-color: white;
    border: black solid 1px;
    border-collapse: collapse;
    height: 25px;
}

table{
    margin-top: 30px;
    width: 100%;
}

td{
    padding-left:5px;
    padding-right: 5px;
}

/*---------------------FOOTER---------------------*/
footer{
    background-color: var(--color-terciario);
    justify-content: space-around;
    position:absolute;
    bottom: 0;
    width: 100%;
    padding: 3vh 0vw;
}

footer > div{
    width: 46%;
    float:left;
    color: var(--color-secundario);
    font-size: large;
    padding: 3vh 2%;
    text-align: center;
}

/*---------------------MEDIA QUERY TABLET---------------------*/
@media screen and (max-width: 800px) {

    .isbn{
        width: 115px;
    }

    table, tr, th, td{ 
        font-size: 12px;
    }

    header > nav > a{
        display: block;
        width: 100%;
        margin: auto;
        text-align: center;
        padding: 1vh 0px;
        font-size: 14px;
    }

    header > a > img{
        float: none;
        display: block;
        margin: auto;
    }

    header{
       margin: auto;
        
    }
    header > nav{
        width: 100%;
        margin: 1vh auto;
    }

  }